@page "/BootstrapMargin"

    <style>

        .my-section {
            align-content: center;
            margin-top: 20px;
            border: 1px solid #f00;
        }
    </style>

    <div class="container">
        <section class="row bg-danger">
            <div class="my-div m-0 col bg-info"></div>
            <div class="my-div col bg-primary"></div>
            <div class="my-div col bg-secondary"></div>
        </section>
        <hr />

        <section class="row bg-light">
            <div class="my-div col bg-info"></div>
            <div class="my-div col bg-primary"></div>
            <div class="my-div col bg-secondary"></div>
        </section>
        <hr/>

        <section class="row bg-success">
            <div class="my-div col bg-info"></div>
            <div class="my-div col bg-primary"></div>
            <div class="my-div col bg-secondary"></div>
        </section>
        <hr />
    </div>