@page "/BootstrapFlexBox"

    <style>
        .div-me {
            border: 1px solid green;
        }
        section{
            background: #f1f1f1;
            height:200px;
        }

        .my-section {
            align-content: center;
            margin-top: 20px;
            border: 1px solid #f00;
        }
    </style>

    <aside class="container">
        <section class="d-flex flex-row">
            <div class="div-me p-4">Flexi</div>
            <div class="div-me p-4">Flexi</div>
            <div class="div-me p-4">Flexi</div>
            <div class="div-me p-4">Flexi</div>
            <div class="div-me p-4">Flexi</div>
        </section>
        <hr />

        <section class="d-flex flex-row align-items-start">
            <div class="div-me p-4 align-self-start">Flexi</div>
            <div class="div-me p-4 align-self-center">Flexi</div>
            <div class="div-me p-4 align-self-end">Flexi</div>
            <div class="div-me p-4 align-self-baseline h2">Flexi</div>
            <div class="div-me p-4 align-self-stretch">Flexi</div>
        </section>
        <hr />

        <section class="d-flex flex-row-reverse">
            <div class="div-me p-4">Flexi</div>
            <div class="div-me p-4">Flexi</div>
            <div class="div-me p-4">Flexi</div>
            <div class="div-me p-4">Flexi</div>
            <div class="div-me p-4">Flexi</div>
        </section>
        <hr />

        <section class="d-flex flex-row justify-content-around">
            <div class="div-me p-4">Flexi</div>
            <div class="div-me p-4">Flexi</div>
            <div class="div-me p-4">Flexi</div>
            <div class="div-me p-4">Flexi</div>
            <div class="div-me p-4">Flexi</div>
        </section>

        <hr />

        <section class="d-flex flex-column">
            <div class="div-me p-4">Flexi</div>
            <div class="div-me p-4">Flexi</div>
            <div class="div-me p-4">Flexi</div>
            <div class="div-me p-4">Flexi</div>
            <div class="div-me p-4">Flexi</div>
        </section>



    </aside>
