@page "/BootstrapAllignmentsAndOffsets"

    <div class="container" style="margin-top: 20px;">

        <section class="row bg-warning align-items-center" style="height:100px;">
            <div class="col bg-secondary">Column 1</div>
            <div class="col bg-info">Column 2</div>
            <div class="col bg-primary">Column 3</div>
        </section>

        <hr />
        <section class="row bg-warning align-items-start" style="height:100px;">
            <div class="col bg-secondary">Column 1</div>
            <div class="col bg-info">Column 2</div>
            <div class="col bg-primary">Column 3</div>
        </section>

        <hr />
        <section class="row bg-warning align-items-stretch" style="height:100px;">
            <div class="col bg-secondary">Column 1</div>
            <div class="col bg-info">Column 2</div>
            <div class="col bg-primary">Column 3</div>
        </section>

        <hr />
        <section class="row bg-warning" style="height:100px;">
            <div class="col bg-secondary align-self-start">Column 1</div>
            <div class="col bg-info align-self-center">Column 2</div>
            <div class="col bg-primary align-self-end">Column 3</div>
        </section>

        <hr />
        <section class="row bg-warning justify-content-center" style="height:100px;">
            <div class="col-4 bg-secondary">Column 1</div>
            <div class="col-4 bg-info">Column 2</div>
        </section>

        <hr />
        <section class="row bg-warning justify-content-between" style="height:100px;">
            <div class="col-4 bg-secondary">Column 1</div>
            <div class="col-4 bg-info">Column 2</div>
        </section>
        <hr />

        <section class="row bg-warning justify-content-around" style="height:100px;">
            <div class="col-4 bg-secondary">Column 1</div>
            <div class="col-4 bg-info">Column 2</div>
        </section>
        <hr />

        <section class="row bg-warning" style="height:100px;">
            <div class="col-4 bg-secondary">Column 1</div>
            <div class="col-4 bg-info offset-lg-4 offset-sm-0">Column 2</div>
        </section>

        <hr />

        <section class="row bg-warning" style="height:100px;">
            <div class="col-4 bg-secondary mr-sm-auto mr-lg-3">Column 1</div>
            <div class="col-4 bg-info">Column 2</div>
        </section>

    </div>
