@page "/BootstrapGrid"

<style>
    .my-div {
        margin-top: 20px;
        padding: 5px;
        border: 1px solid #000;
        display: inline-block;
    }

    .my-section {
        align-content: center;
        margin-top: 20px;
        border: 1px solid #f00;
    }
</style>

<section class="container">
    <section class="row my-section">
        <div class="my-div col bg-danger">Test</div>
        <div class="my-div col bg-info">Test</div>
        <div class="my-div col bg-primary">Test</div>
        <div class=" my-div col bg-success">Test</div>
        <div class="my-div col bg-danger">Test</div>
        <div class="my-div col bg-info">Test</div>
        <div class="my-div col bg-primary">Test</div>
        <div class=" my-div col bg-success">Test</div>
        <div class="my-div col bg-danger">Test</div>
        <div class="my-div col bg-info">Test</div>
        <div class="my-div col bg-primary">Test</div>
        <div class=" my-div col bg-success">Test</div>
    </section>

    <section class="row my-section">
        <div class="my-div col bg-danger">Test</div>
        <div class="my-div col bg-info">Test</div>
        <div class="my-div col bg-success">Test</div>
    </section>

</section>