@page "/BootstrapMediaBreakpoints"

<style>
    @@media(min-width:578px) {
        body {
            background: red;
        }
    }

    @@media(min-width:768px) {
        body {
            background: blue;
        }
    }

    @@media(min-width:992px) {
        body {
            background: pink;
        }
    }

    @@media(min-width:1200px) {
        body {
            background: green;
        }
    }
</style>

<h1 class="bg-danger">Demo Media Breakpoints</h1>

<p class="bg-primary">This is BootStrap 3 Page.</p>