@page "/bootstrap2"

<div class="my-div2 bg-danger">

</div>

<div class="container">
    <div class="my-div2 bg-primary">

    </div>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="my-row col bg-danger" />
        <div class="my-row col bg-primary" />
        <div class="my-row col bg-secondary" />
    </div>
</div>
<hr />

<div class="container">
    <div class="row">
        <div class="my-row col bg-dark" />
        <div class="my-row col bg-warning" />
    </div>
</div>


@functions{
}
