@*@inherits LayoutComponentBase

<style>

    app {
        position: relative;
        /*display: flex;
    flex-direction: column;*/
        background-color: aquamarine;
    }

    html {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    body {
    }

    .my-div1 {
        position: fixed;
        width: 100px;
        height: 100px;
    }
</style>
<div>
    <div class="my-div1 bg-primary" style="top:0; left:0">Hello 1</div>
    <div class="my-div1 bg-primary" style="bottom:0; left:0">Hello 2</div>
    <div class="my-div1 bg-primary" style="top:0; right:0">Hello 3</div>
    <div class="my-div1 bg-primary" style="bottom:0; right:0">Hello 4</div>
</div>*@