@inherits LayoutComponentBase

<style>


    html, body {
        height: 100%;
        margin: 0;
    }

    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .header, .footer {
        background: silver;
    }

    .content {
        flex: 1;
        overflow: auto;
        background: pink;
    }
</style>

<div class="wrapper">
    <div class="header">Header</div>
    <div class="content">
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
    </div>
    <div class="footer">Footer</div>
</div>