@inherits LayoutComponentBase

<style>
    .div-my-main {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        align-self: center;
        align-content: center;
        align-items: center;
    }

    .my-div3 {
        text-align: center;
    }


    .div-my-main-body {
        height: 40vw;
    }
</style>


<div class="div-my-main">
    <header class="top-row bg-primary">This is a Header</header>

    <div class="div-my-main-body">Hey</div>
    <footer class="bg-secondary my-div3">This is a Footer</footer>
</div>