<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Bootstrap</a>
    <button class="navbar-toggler" @onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="@ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bootstrap1">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Bootstrap 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bootstrap2">
                <span class="oi oi-aperture" aria-hidden="true"></span> Bootstrap 2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BootstrapGrid">
                <span class="oi oi-audio" aria-hidden="true"></span> Bootstrap Grid
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BootstrapMediaBreakpoints">
                <span class="oi oi-arrow-bottom" aria-hidden="true"></span> Bootstrap Media BP
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BootstrapAllignmentsAndOffsets">
                <span class="oi oi-action-redo" aria-hidden="true"></span> Bootstrap Align
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BootstrapMargin">
                <span class="oi oi-arrow-circle-bottom" aria-hidden="true"></span> Bootstrap Margin
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BootstrapFlexBox">
                <span class="oi oi-bell" aria-hidden="true"></span> Bootstrap FlexBox
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
